p {
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: xx-large;
}

h1 {
    color: blue;
    font-family: 'Verdana', sans-serif;
    font-size: xxx-large;
}
h2 {
    color: darkorange;
    font-family: 'Tahoma', sans-serif;
    font-size: x-large;
}
h3 {
    color: purple;
    font-family: 'Georgia', serif;
    font-size: large;
}